version: "3"
services:
  postgres_db:
    image: "postgres:latest"
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: finance_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
volumes:
  postgres_data:

